a{
	color: black;
}
a:hover{
	color: #FF0000;
}

/*头部*/
#hd-header{
	width:950px;
	height: 90px;
	margin: 0 auto;
	/*border: 5px solid #FF0000;*/
	position: relative;
	border-radius: 2px;
	
}

#hd-header .header-logo{
	display: block;
	width: 154px;
	height: 30px;
	background: url(../img/logo_db.png);
	position: absolute;
	left: 0px;
	top: 29px;
}

#hd-header .header-search{
	width: 303px;
	height: 30px;
	border: 2px solid #c4c4c4;
	border-radius: 1px;
	position: absolute;
	left: 183px;
	top: 31px;
	color: #e4e4e4;
	padding-left: 7px;
	
}

#hd-header p{
	background: url(../img/bn_srh_1.png) no-repeat;
	width: 13px;
	height: 13px;
	position: absolute;
	left: 470px;
	top: 28px;
}
#hd-header ul{
	position: absolute;
	left: 500px;
	top: 20px;
}
#hd-header ul li{
	list-style: none;
	display: inline;
	margin: 10px;
	
}
/*头部*/


/*注册区域*/
#hd-reg-background{
	background: #c4c4c4;
	height: 100px;
	width: 100%;
}
#hd-reg {
	background: red;
	height: 60px;
	width: 100px;
	position: relative;
	left: 10px;
	top: 20px;
	border-radius: 2px;
}
/*注册结束*/